:root {
    --primary: hsl(44, 34%, 88%);
    --secondary: #c1b9a9e5;
    --black: #28222a;
}



* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    margin: 0;
}

#sideBar {
    width: 35vw;
}

.container {
    height: 100vh;
    background: url("images/jennifer-chen-y9ml2Lcrgqw-unsplash.jpg");
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: Sigmar;
    margin-top: 28vh;
    font-weight: 900;
    font-size: 6rem;
    color: var(--black);
    filter: blur(0.6px);
}

a {
    color: var(--primary);
    text-decoration: none;

}
.link a {
    color: hsl(107, 32%, 13%);
    padding-left: 0.4rem;
    text-decoration: none;
}
#credit {
    color: var(--primary);
    margin:1rem;
    font-size: 0.8rem;
}

.aux {
    padding-left: 7.6rem;
    max-width: 880px;
    color: var(--black);
}

.aux p {
    font-size:3rem;
}

.aux:first-of-type {
    margin-top: 8rem;
/*     max-width: 800px; */
}

main {
    flex-grow: 2;
    flex-shrink: 1;
    height: 98vh;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-basis: 60vw;
    gap: 4rem;
    background-color: var(--primary);
}


#middle {
    background-color: var(--secondary);
    width: 100%;
    padding: 3rem;
    display: flex;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.36);
    border-radius: 0.32rem;
    border-top-color: #f7f7f7dc;

}

#myForm {
    display:flex;
    gap: 4rem;
}

.column {
    display: flex;
    flex-flow: column;
}

legend {
    position: relative;
    font-size: 1.6rem;
    top: -22px;
    border-right: 1px solid var(--black);
    padding-right: 1rem;
}

label {
    font-weight: 500;
    color: var(--black);
    padding: 0.3rem 0;
    font-size:  1.6rem;
}

.column input[type="password"],
.column input[type="text"],
.column input[type="number"],
.column input[type="email"] {
    height: 1.8rem;
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    margin-bottom: 1.2rem;
    margin-top: 0.2rem;
    border-radius: 0.24rem;
    padding: 1.2rem 1.6rem;
    font-size: 1.2rem;
}

.column input[type="password"]:invalid {
    border: 0.2rem solid hsl(10, 49%, 64%);
    filter: blur(0.3px)
}

button {
    padding: 1rem 1.6em;
    margin: 0.8rem auto;
    background-color: #9CA799;
    border: 1px solid var(--secondary);
    border-radius: 0.4rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--primary);
    box-shadow: 0px 1px 2px -2px rgba(0,0,0,0.36);
    transition: background-color 0.15s ease-out;


}

button:hover {
    background-color: hsla(108, 21%, 63%, 0.658);
   
}

.column input:focus {
    background-color: rgba(255, 255, 255, 0.295);
    border: none;
}   
