:root {
    --primary: #ebe5d6;
    --secondary: #c1b9a9e5;
    --black: rgb(40, 34, 42);
}



* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    margin: 0;
}

#sideBar {
    width: 35vw;
}

.container {
    height: 100vh;
    background: url("images/jennifer-chen-y9ml2Lcrgqw-unsplash.jpg");
    background-size: cover;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-family: Sigmar;
    margin-top: 28vh;
    font-weight: 900;
    font-size: 6rem;
    color: var(--black);
    filter: blur(0.6px);
}

a {
    color: var(--primary);
    text-decoration: none;
}


a:hover {
    color: #9CA799;
    text-decoration: none;
}
.link a {
    color: hsl(107, 32%, 13%);
    padding-left: 0.4rem;
    text-decoration: none;
}
#credit {
    color: var(--primary);
    margin:1rem;
    font-size: 0.8rem;
}

.aux {
    padding-left: 7.6rem;
    max-width: 880px;
    color: var(--black);
    color:rgba(40, 34, 42, 0.90)
}

.aux p {
    font-size:3rem;
    font-weight: 900;
}

.aux:first-of-type {
    margin-top: 8rem;
    line-height: 3.25rem;
/*     max-width: 800px; */
}

main {
    flex-grow: 2;
    flex-shrink: 1;
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-basis: 60vw;
    gap: 1.6rem;
    /* background-color: var(--primary); */
    background: linear-gradient(0deg, var(--primary)83%, var(--secondary));
    border: 1px solid var(--secondary);
}


#middle {
    background-color: var(--secondary);
    width: 100%;
    padding: 3rem;
    display: flex;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.36);
    -webkit-box-shadow: 0px 1px 0.8rem 0px rgba(97, 97, 97, 0.11);
    border-radius: 0.32rem;
    border-top-color: #f7f7f7dc;

}

#myForm {
    display:flex;
    gap: 4rem;
}

.column {
    display: flex;
    flex-flow: column;
}

legend {
    position: relative;
    font-size: 1.6rem;
    top: -22px;
/*     border-right: 0.18rem solid var(--primary);
 */    padding-right: 1rem;
    color: var(--primary);
    font-weight: 900;
}

label {
    font-weight: 500;
    color: var(--black);
    padding: 0.1rem 0;
    font-size:  1.2rem;
}

.column input[type="password"],
.column input[type="text"],
.column input[type="number"],
.column input[type="email"] {
    height: 1.8rem;
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    margin-bottom: 1.2rem;
    margin-top: 0.2rem;
    border-radius: 0.24rem;
    padding: 1.2rem 1.6rem;
    font-size: 1.2rem;
    color:rgba(40, 34, 42, 0.85)

}

.column input[type="password"]:invalid {
    border: 0.13rem solid hsl(10, 49%, 64%);
    filter: blur(0.3px)
}

button {
    padding: 1rem 1.6em;
    margin: 1.2rem auto;
    background-color: #9CA799;
    border: 1px solid var(--secondary);
    border-radius: 0.4rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--primary);
    box-shadow: 0px 1px 2px -2px rgba(0,0,0,0.36);
    transition: background-color 0.15s ease-out;


}

button:hover {
    background-color: hsla(108, 21%, 63%, 0.658);
   
}

.column input:focus {
    background-color: rgba(255, 255, 255, 0.295);
    border: none;
}   
